@import "tailwindcss";

@theme {
  --color-primary: var(--color-emerald-500);
  --color-primary-dark: var(--color-emerald-700);
  
  --color-bg-primary: var(--color-white);
  --color-bg-primary-dark: var(--color-gray-950);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0; padding: 0; box-sizing: border-box;
}